.container {
    max-width: 120rem;
    margin: 5rem auto;
    background-color: var(--color-grey-light-2);
    box-shadow: var(--shadow-black-03);

    @media screen and (max-width: $bp-largest) {
        margin: 0;
        max-width: 100%;
        width: 100%;
    }
}
.header {
    background-color: #fff;
    height: 7rem;
    border-bottom: var(--border-grey-light-2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;

    @media screen and (max-width: $bp-smallest) {
        flex-wrap: wrap;
    }
    @media screen and (max-width: $bp-smallest) {
        height: 10rem;
    }
}

.content {
    display: flex;

    @media screen and (max-width: $bp-medium) {
        flex-direction: column;
    }
}
.sidebar {
    background-color: var(--color-grey-dark-1);
    flex: 0 0 18%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .legal {
        text-align: center;
        font-size: 1.4rem;
        margin-bottom: 2rem;
        @media screen and (max-width: $bp-medium) {
            // flex-direction: column;
            display: none;
        }
    }
}
.hotel-view {
    flex: 1;
    min-height: calc(100vh - 7rem - 10rem);
}

.detail {
    display: flex;
    padding: 4.5rem;
    background-color: var(--color-grey-light-1);
    border-bottom: var(--border-grey-light-2);
    font-size: 1.4rem;

    @media screen and (max-width: $bp-largest) {
        padding: 3rem;
    }
    @media screen and (max-width: $bp-small) {
        flex-direction: column;
    }
}
.description {
    background-color: #fff;
    box-shadow: var(--shadow-light);
    flex: 0 0 60%;
    margin-right: 4.5rem;
    font-size: 1.4rem;
    padding: 3rem;

    @media screen and (max-width: $bp-largest) {
        padding: 3rem;
        margin-right: 3rem;
    }
    @media screen and (max-width: $bp-small) {
        padding: 3rem;
        margin-right: 0rem;
        margin-bottom: 3rem;
    }
}
.user-reviews {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

// call to action
.cta {
    padding: 3.5rem 0;
    text-align: center;

    &__book-now {
        text-transform: uppercase;
        font-size: 2rem;
        font-weight: 300;
        margin-bottom: 2.5rem;
    }
    @media screen and (max-width: $bp-largest) {
        padding: 2rem;
    }
}
